<div>
  <!--Collection title/header-->
  <div class="mt-4">
    <p class="collection__header text-center fs-1 fw-bold">
      Our <span class="collec__part">collection</span>
    </p>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
    <div *ngFor="let product of products | slice:0:numberOfProducts; let i = index" class="col-md-4 col-sm-6">
      <div class="card">
        <div  *ngFor="let img of product?.attributes.productImage.data">
                  <img
                  [src]="img.attributes.url"
                  class="card-img-top"
                  width="100px"
                  height="300px"
                  alt={{product.attributes.name}}
                />
        </div>
<!--        product?.attributes.productImage.data[i].attributes.url-->
        <div class="card-body">
          <h5 class="card-title">{{ product?.attributes.name }}</h5>
          <p class="card-text">R{{ product?.attributes.price }}</p>
          <div class="row">
            <div class="col-md-12">
              <a type="button" class="btn">View Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--[src]="app.icon.formats.thumbnail.url"-->

<div class="d-flex justify-content-center mb-4">
  <button class="btn-secondary" (click)="changeNumberOfProductsViewed()">More Products</button>
</div>
