.btn {
  background: #f69478;
  display: flex;
  justify-content: center;
  color: white;
  border: 2px solid #f69478;
  box-shadow: 0 2px #f36942;
}
.btn:hover {
  background: #f36942;
}
.btn-secondary {
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 5px;
}
.btn-light {

}
.collection__header {
  font-family: "Ephesis", cursive;
}
.collec__part {
  color: #f15025;
}
.card {
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
}
.card {
 margin-bottom: 10px;
}
