<app-navbar></app-navbar>
<p class="text-center mt-3 text-secondary">Product Details: </p>
<div class="mt-2 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img [src]="product?.productImage.data[0].attributes.url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product?.name}}</h5>
      <p class="card-text">R{{product?.price}}</p>
      <p class="card-text">{{product?.shortDescription}}</p>
      <div class="row">
        <div class="col-12">
          <a type="button" class="btn">Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>


