<nav
  id="navigation"
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#"
      ><span class="store__name fw-bold">Tsenga.</span
      ><span class="ecommerce">e</span></a
    >
    <!-- <ul class="navbar-nav"> -->

    <!-- </ul> -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarToggle"
      [ngbCollapse]="toggleNavbar"
    >
      <!--   Show this only lg screens and up   -->
      <a class="navbar-brand d-none d-lg-block">
        <p class="store__name fw-bold">
          Tsenga.<span class="ecommerce">e</span>
        </p>
      </a>
    </div>
    <li class="nav-item">
      <a class="nav-link" routerLink="/checkout">
        <button type="button" class="btn btn-cart position-relative">
          Cart
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            2
          </span>
        </button>
      </a>
    </li>
  </div>
</nav>
