.store__name {
  font-size: 50px;
  font-family: "Ephesis", cursive;
}
.ecommerce {
  color: #f15025;
}
.navbar-brand {
  cursor: pointer;
}

.btn-cart {
  color: white;
  border: 2px solid #f58f73;
  background: #fc7e5b;
  width: 70px;
}
.btn-login:hover {
  background: #f16d49;
}
.btn-cart:hover {
  background: #f16d49;
}
.nav-link:hover {
  color: #f15025;
}
/* .bi:hover {
  color: #F15025;
} */
