<nav
  id="navigation"
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <!--  Show this only on mobile to medium screens  -->
    <a class="navbar-brand d-lg-none" href="#"
      ><span class="store__name fw-bold">Tsenga.</span
      ><span class="ecommerce">e</span></a
    >
    <!--  Use flexbox utility classes to change how the child elements are justified  -->
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarToggle"
      [ngbCollapse]="toggleNavbar"
    >
      <!--   Show this only lg screens and up   -->
      <a class="navbar-brand d-none d-lg-block">
        <p class="store__name fw-bold">
          Tsenga.<span class="ecommerce">e</span>
        </p>
      </a>
    </div>
  </div>
</nav>
