.highlight {
  height: 630px;
  width: 100%;
  background: #CED0CE;
}
.highlight__header {
  font-family: 'Ephesis', cursive;
  font-size: 50px;
}
.highlight__title {
  font-family: 'Ephesis', cursive;
  font-size: 60px;
  padding: 10px;
}
.high__text {
  color: #F15025;
}
.mac {
  color: #F15025;
  font-size: 20px;
}
.description {
  font-family: 'Ephesis', cursive;
  color: #F15025;
  font-size: 60px;
}
.btn {
  background: #F69478;
  display: flex;
  justify-content: center;
  color: white;
  border: 2px solid #F69478;
  box-shadow: 0px 2px #F36942;
}
.btn:hover {
  background: #F36942;
}
.card:hover {
  opacity: 0.8;
}
@media (min-width: 319px) and (max-width:481px) {
  .card {
    margin: 15px;
  }
  .highlight {
    height: 850px;
  }
  img {
    width: 300px;
    height: 200px;
  }
}
